
*.md
*.exe
*.ilk
*.pdb
*.dll
*.exp
*.lib
*.mk
*.c
*.h
*.html
*.gif
*.txt
*.sh
*.spec
*.rockspec
*.json
*.pl
*.dat
build/
cservice/
examples/
luaclib/
lualib-src/
test/
3rd/
*.cpp
lualib/READEME
LICENSE
Makefile
dm/res/error/
